

.form-container {
    top: 20vh;
    border-radius: 10px;
}

/* section {
    width: 35rem;
    justify-content: center;
} */

@media only screen and (min-height: 900px) {
    footer {
        position: absolute;
        bottom: 0;
        width: 100%; 
    }
}

#messages {
    background-color: grey;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}