body {
    background-color: lightgray;
}

.tv-buttons {
    width: 9rem;
    height: 4rem;
    margin: 0.3rem;
    
}

/* Default height for small devices */
#intro {
    height: 95vh;
}

footer {
    background-color:#BDBDBD;
}