body {
    background-color: ghostwhite;
}

.tv-buttons {
    width: 10rem;
    background-image: url('../images/live-sport.png') !important;
    margin: 0.3rem;
    height: 5rem;
    background-size: 7rem;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: rgba(0,0,0, 0.3);
    text-shadow: 0px 0px 4px #FFC107;
}

.bg-text {
    color: white;
    font-weight: bold;

    width: 100%;
    text-align: center;
}

/* Default height for small devices */
#intro {
    height: 95vh;
}

footer {
    background-color:#BDBDBD;
}

.helle-message {
    font-size: 18px;
    color: lightgray;
    margin-right: 20px;
    text-transform: uppercase;
}

#logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
}