Code/sabit_practice/django/test_project/test_project/__pycache__/
Code/sabit_practice/django/test_project/test_app/migrations/__pycache__/
Code/sabit_practice/django/test_project/test_app/__pycache__/
IPTV_Solution/IPTV_Solution/__pycache__/
