Code/sabit_practice/django/test_project/test_project/__pycache__/__init__.cpython-38.pyc
Code/sabit_practice/django/test_project/test_project/__pycache__/settings.cpython-38.pyc
Code/sabit_practice/django/test_project/test_project/__pycache__/urls.cpython-38.pyc
Code/sabit_practice/django/test_project/test_project/__pycache__/wsgi.cpython-38.pyc
