{% load static %}
<div class="container">
    <div class="row m-3">
        <div class="col-12">
            <div id="channels" class="text-center">
                {% for channel in channels %}
                <button type="button" class="btn tv-buttons btn-outline-light m-1" onclick="playchannel('{{channel.link}}');"
                        data-toggle="tooltip" data-placement="bottom" title="{{channel.name}}">
                        
                        <p class="h6 bg-text">
                            {{channel.name}}
                        </p></button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
