<footer class="text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">About Us</h5>

                <p>
                    we're offering you the best quality online tv streaming.
                    It's easy to access and enjoy tv while being online and guess what!
                    It's cost effective also!
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact Us</h5>                
                    <ul>
                        <li><a href="www.iptv.com">iptv website</a></li>
                        <li><a href="">facebook Page</a></li>
                        <li>Contact no: +880-123456789, +880-987654321</li>
                        <li>Email address: iptv1@gmail.com, iptv2@gmail.com</li>
                    </ul>
                
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:
        <a class="text-dark" href="https://github.com/NSU-FA20-CSE299-2/Group15/">Online IPTV - CSE299 Group15
            Project</a>
    </div>
    <!-- Copyright -->
</footer>