h1{
    font-family: "Times New Roman";
    font-size: 30px;
    text-align: center;
}

p{
    font-family: 'East Sea Dokdo', cursive;
    font-style: italic;
}

body{
    font-size: 20px;
}

#abcd{ 
    font-size: 1.5em;
}

#top{
    font-size: 1.0em;
    border: 4px solid green;
    width: 25%;
    text-align: center;
    margin: auto;
     
}

#bottom{
    font-size: 1.0em;
    border: 4px solid red;
    width: 25%;
    text-align: center;
    padding: 100px;
    margin: auto;
}

h3{
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    font-style: italic;
}

.art{
    margin: auto;
}

td{
    height: 300px;
    width: 150px;
    border: 6px solid white;
}

#one{
    background-color: chartreuse;
}

#two{
    background-color: yellow;
}

#three{
    background-color: violet;
}

#four{
    background-color: turquoise;
}

#five{
    background-color: teal;   
}